.navbar {
  background-color: #1f1f1f;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-left {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fca311;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-btn {
  background-color: #fca311;
  color: #000;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-btn:hover {
  background-color: #ffb347;
}


.nav-points, .nav-user {
 



  padding: 6px 12px;
  background-color: #333;
  border-radius: 6px;
  font-size: 0.95rem;
}

.nav-user {
  color: #fca311;
  font-weight: 600;
}
